@keyframes slice {
  0% {
    transform: rotate(45deg) skew(0, 45deg) translate(0, 0);
  }
  100% {
    transform: rotate(45deg) skew(0, 45deg) translate(0, -500%);
  }
}

@keyframes slice-2 {
  0% {
    transform: rotate(45deg) skew(0, 45deg) translate(0, 0);
  }
  100% {
    transform: rotate(45deg) translate(0, 400%) skew(0, 45deg);
  }
}


@keyframes stretch{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}