input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  font-size: 1.5rem;
  padding: 1em;
  background: #ffffff;
  border-radius: 30px;
  border: 0;
  @include input-placeholder;
  &::placeholder{
    text-transform: capitalize;
    color: #B4B4B4;
  }
}



button{
    font-size: 1.5rem;
    width: 100%;
    background-color: #7280FF;
    border-color: #7280FF;
    padding: 1em;
    text-align: center;
    border-radius: 30px;
    @include font-source-sans(18px, #fff, 400, 1.1);
    transition: .4s;
    &:hover{
        cursor: pointer;
        background-color: darken(#7280FF, 10%) ;
    }

    &.success{
        background-color: #8beaad;
        border-color: #8beaad;
    }
}

.form-group{
    padding-bottom: 1em;
}


