* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.o-hidden {
  overflow: hidden;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.novabeds-logo {
  padding: 1em 0;
}

.site {
  &__header,
  &__content,
  &__footer {
    width: 100%;
    position: relative;
  }
  &__header {
    z-index: 1;
    height: 8em;
    padding: 2em 0;
  }
  &__content {
    flex-direction: column;
  }
  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 0 2.4rem;
    @include mq('tablet'){
      flex-direction: row;
      padding: 0 6.4rem;
    }
    
    &.reverse {
      @include mq('tablet'){
        flex-direction: row-reverse;
      }
    }
  }

  &__footer{
    padding: 4em 0;
    font-size: 1.5em;
    background-color: #1c233c;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    ul{
      list-style: none;
      padding: 0;
    }
    a,
    a:active,
    a:visited {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }
    .site__container{
      display: grid;
      grid-template-columns: auto;
      @include mq('tablet'){
        grid-template-columns: repeat(3,calc(100%/3));
        grid-column-gap: 2em;
      }
    }
  }
}

section {
  position: relative;
  &.section__inner {
    @include mq('tablet'){
      padding: 8em 0;
    }
  }

  &.hero {
    position: relative;
    top: -8em;
    padding-top: 8em;
    &::after {
      @include pseudo(block, absolute, "");
      top: 0;
      background-color: #1c233c;
      height: 100%;
      width: 100%;
      @include mq('tablet'){
        border-bottom-left-radius: 30px;
        left: 3.2rem;
      }
    }

    .hero__text {
      color: #fff;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 15;
      h1 {
        font-size: 3.2rem;
        @include mq('tablet'){
          font-size: 5.4rem;
        }
        color: #fff;
        margin-bottom: 0;
        strong {
          position: relative;
          white-space: nowrap;
          &::after {
            @include pseudo(block, absolute, "");
            left: 50%;
            height: 0.2em;
            width: 0;
            background: #f15f73;
            transform: translateX(-50%) skewX(45deg);
            border-radius: 15px;
            animation: stretch 0.5s 1.5s ease-out forwards;
          }
        }
      }
    }

    form {
      font-size: 2.2rem;
      color: #fff;
      padding: 1em;
      @include mq('tablet'){
        padding: 2em;
      }
      background: #f15f73;
      box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      position: relative;
      z-index: 5;
      h2 {
        color: #fff;
      }
    }
    .grid__component {
      left: 0;
    }

    .hero__back {
      position: absolute;
      z-index: 2;
      border-radius: 15px;
      &.hero--back-1 {
        width: 50px;
        height: 420px;
        top: 115%;
        right: 500px;
        background: rgba(114, 128, 255, 0.2);
        animation: slice 32s linear infinite alternate;
      }
      &.hero--back-2 {
        width: 130px;
        height: 540px;
        bottom: 130%;
        left: 105%;
        background: rgba(241, 95, 115, 0.2);
        animation: slice-2 25s linear infinite;
      }
      &.hero--back-3 {
        width: 45px;
        height: 265px;
        top: 115%;
        right: 80%;
        background: rgba(114, 128, 255, 0.2);
        animation: slice 32s linear infinite alternate;
      }
    }
  }
  &.proudly {
    @include mq('tablet'){
      padding: 4em 0;
    }
    p {
      font-size: 3.2rem;
      @include mq('tablet'){
        font-size: 5.2rem;
      }
      line-height: 1.2;
    }
  }
  &.booking_engine {
    .grid__component {
      left: 0;
    }
  }

  &.channels {
    .grid__component {
      right: 0;
    }
    .media__component {
      display: grid;
      justify-content: space-around;
      grid-template-columns: auto auto;
      @include mq('tablet'){
        grid-template-columns: auto auto auto; /*Make the grid smaller than the container*/
      }
      grid-gap: 20px;
      .media--element {
        padding: 1em;
        background: #fff;
        opacity: 0;
      }
    }
  }
  &.property_management {
    .grid__component {
      right: 0;
    }
  }
}

.text__component,
.media__component,
.form__component,
.gallery__component {
  position: relative;
  z-index: 10;
  transition: 0.4s;
  padding: 4rem 0;
  @include mq('tablet'){
    padding: 4rem 10%;
  }
  &-1-2 {
    width: 100%;
    @include mq('tablet'){
      width: 50%;
    }
  }
  &-2 {
    @include mq('tablet'){
      padding-right: 12.5%;
    }
    width: 100%;
  }
  &__paragraph {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

.text__component {
  &__subtitle,
  &__title,
  &__paragraph {
    overflow: hidden;
    > p {
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
    }
  }
}

.grid__component {
  display: none;
  @include mq('tablet'){
    display: block;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.media--element {
  width: 100%;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  img {
    object-fit: cover;
  }
}

.gallery--element {
  opacity: 0;
  visibility: hidden;
}

.slider {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
      img{
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
  .arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow {
      padding: 1em;
      transition: 0.2s;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
      }
      + .arrow {
        margin-left: 3em;
      }
    }
  }
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
