@import url("https://fonts.googleapis.com/css?family=Rubik:300,500,700&display=swap");

html{
    font-size: 62%;
}

body {
  color:#1c233c;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-rendering: auto;
}

.text{
    &__left{
        text-align: center;
    }
    &__center{
        text-align: center;
    }
    &__right{
        text-align: right;
    }
}

h1 {
  @include font-source-sans(3.2rem, #1c233c, 700, 1.1);
  @include mq('tablet'){
    @include font-source-sans(5.2rem, #1c233c, 700, 1.1);
  }
}
h2 {
  @include font-source-sans(2.2rem, #1c233c, 500, 1.1);
  @include mq('tablet'){
    @include font-source-sans(3.2rem, #1c233c, 500, 1.1);
  }
}
h3 {
  @include font-source-sans(1.5rem, #1c233c, 500, 1.1);
  @include mq('tablet'){
    @include font-source-sans(2.8rem, #1c233c, 500, 1.1);
  }
}
h4 {
  @include font-source-sans(1.5rem, #7280ff, 500, 1.1);
  text-transform: uppercase;
}

h1,h2,h3,h4{
    margin-bottom: 1em;
}

p{
    margin-bottom: 1em;
}